/*

#62967c - sage green
#90C3D1 - bright blue
#3A6E73 - teal dark green
#578694 - dark powder steel green-blue
#E3DEC7 - paperbag yellow
#7BA8B5 - powder steelgreen-blue
beige - clean beige



*/
/* inspo
https://diogotc.com/#portfolio
https://andris.gauracs.com/
*/
/* --------------------------- General --------------------------- */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FFFFFF;
  margin: 0;
  width: 100%;
}

p, blockquote {
    font-family: 'Raleway', sans-serif;
}

p {
    margin-left: 190px;
    margin-right: 190px;
    color: #3A6E73;
    font-size: 20px;
    line-height: 30px;
}

.first-p {
      margin-top: 100px;
      margin-bottom: 35px;
}

/* -------- #006600  --*/

blockquote {
    margin-top: 21px;
    margin-bottom: 17px;
    color: #3A6E73;
    background: #F5F0D3;
    margin-left: 236px;
    margin-right: 320px;
    font-size: 34px;
    padding: 32px;
    text-align: justify;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    font-family: 'Caveat', sans-serif;
    line-height: 28px;
    box-shadow: inset -1px 2px 3px 2px rgba(0, 0, 0, 0.26), inset 2px 6px 2px 1px rgba(0, 0, 0, 0.10);
}

#free2 {
 display:none;
 padding:0;
 margin:0;
}

#free3 {
 display:none;
 padding:0;
 margin:0;
}

#free4 {
 display:none;
 padding:0;
 margin:0;
}

a {
  color: #62967c;
}

a.gname {
  color: #fff;
}

a:hover {
  color: #578694;
}

a.gname:hover {
  color: "yellow";
}

.buzzword {
  font-weight: 600;
}

/* --------------------------- Headers --------------------------- */
h1, h2 {
  font-family: 'Merriweather', serif;
}

h1 {
  background: #62967c; /* sage */
  font-size: 70px;
  line-height: 1.5;
  width: 100%;
  padding-top: 160px;
  padding-left: 60px;
  margin-top: 0px;
}

h2 {
  margin-bottom: 10px;
  font-size: 70px;
  text-align: center;
  font-weight: 80;
}


i {font-size: 28px; color: white;}


/* --------------------------- Profile Card --------------------------- */
#home {font-variant-alternates: ;
  /*--- background: #90C3D1;---*/
   display: flex;
  /*--- width: 100vw; ---*/
 /*--- height: 100vh; ---*/
  margin-bottom: 0px;
}

top-x { position: absolute;
  top: 76px;
  right: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16), -12px 7px 6px rgba(0, 0, 0, 0.23);
  border:6.5px solid DarkSlateGrey;
        -moz-border-radius: 10px;
    -webkit-border-radius: 90px; 
  }

#four {
  font-family: Russo+One, sans-serif;
  font-size: 18px;
  font-weight: 800;
  }

button {
cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a recessed effect */
      transition: box-shadow 0.3s; /* Add a transition for smooth animation */
}

    /* Style for button hover effect */
    button:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
    }

.blog-card {
  display: block;
  width: 600px;
  height: 408px;
  position: absolute;
  top: 42%;
  left: 50%;
  margin: auto;
  overflow: hidden;
  background-color: #FFFFFF;
  z-index: 100;
  transform: translate(-50%, -50%);
  margin-top: 20px;
   border:10px solid darkslategrey;
         -moz-border-radius: 10px;
    -webkit-border-radius: 35px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16), -12px 7px 6px rgba(0, 0, 0, 0.23);
}


.column {
  float: left;
  padding: 30px;
  height: 500px;
  width: 50%;
}

.column.column1 {
  border-right: 2px dashed #dbdbdb; /* light grey */
}

.prof-pic {
  width: 72%;
  margin-top: 1.5vh;
  margin-left: 5.7vh;
  margin-right: 2.6vh;
  border-radius: 2%;
border:1px solid #1F1232;
background-color: #B4F2FB;
box-shadow: 0px 3px 5px #000000;
  /*--box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16), -12px 7px 6px rgba(0, 0, 0, 0.23);--*/
}

#name-gav {
  font-size: 32px;
  color: 57C039;
  margin-left: 0vh;
  margin-top: 10px;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 100;
  font-family: 'Norican', sans-serif;
text-shadow: 0px 1.6px 1.6px rgba(0, 0, 0, 0.29);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}


.bio {
    margin-top: 66px;
    width: 140px;
    display: flex;
    justify-content:space-between;
    border:0;
}

.column.column2 p {
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  padding-top: 100px;
  padding-left: 10px;
  color: #878787;/* navy */
  margin-top: 0px;
  text-align: left;
  font-weight: 400;
}

.column.column2 i {
  color: #878787; /* light grey */
  right-padding: 2px;
}

.column.column2 i:hover {
  color: darkslateblue; /* dark grey */
}

.first-icon {
  padding-left: 10px;
}

/* --------------------------- Bio --------------------------- */

  /* Styling for the button */
button {
transition: background-color 0.3s ease; /* Add transition for smooth effect */
        }

button:hover {
background-color:#FFFF00;
}
  
.skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1050px;
  justify-content: center;
  margin: 44px auto 44px auto;
}

.skills-container > div {
  margin: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  padding: 0 10px 0 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.adv {
  background-color: #7BA8B5;
  color: white;
}

.pro {
  background-color: #3A6E73; /* sage */
  color: white;
}

.prov {
  background-color: #F3E7B1; /* wheat yellow*/
  color: #3A6E73;
  box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.22);
}


/* --------------------------- Timeline --------------------------- */
#timeline-title {
  display: flex;
  flex-direction: row;
  padding: 0 60px 0 100px;
}

.timeline-title-item {
  margin: 10px 80px 0 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  list-style-type: none;
  font-size: 48px;
  color: #3A6E73;
}

.timeline-bkg {
    background: #7BA8B5;
    width: 100%;
}

#timeline {
  background: #E3DEC7;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 15px 0;
box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

#timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #3A6E73;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #90C3D1;
  border: 2px solid #3A6E73;
  border-radius: 16px;
  z-index: 2;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #3A6E73;
  z-index: 2;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #3A6E73;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
  font-family: 'Merriweather', serif;
}

.container.left .date {
  right: -90px;
}

.container.right .date {
  left: -90px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #90C3D1;
  border: 2px solid #3A6E73;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  z-index: 2;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: beige;
  position: relative;
  border-radius: 20px 100px 100px 20px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 100px 20px 20px 100px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #3A6E73;
  justify-content: left;
  text-align: left;
  border-bottom: none
}

.container .content h2.no-content {
  margin: 0 0 0 0;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #3A6E73;
  font-family: 'Raleway', sans-serif;
}

.container .content ul {
  color: #3A6E73;
  font-family: 'Raleway', sans-serif;
}

/* --------------------------- Read More --------------------------- */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #3A6E73;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #bdd4c9;
  border-radius: .25em;
}

/* --------------------------- Footer --------------------------- */
.footer {
  margin-left: 0;
  background: #62967c;
  padding: 14px 14px 14px 0;
  color: #FFFFFF;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

/* --------------------------- Responsive --------------------------- */
@media only screen and (max-width: 1000px) {
  .timeline-title-item {
    display: none;
  }
}

@media (max-width: 767.98px) {
  #timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #3A6E73 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
